#sidebar-wrapper
    ul.sidebar-nav
        li.sidebar-brand
            a(href='#') Sophy         
        li
          a(href='#') Distribution       
        li
          a(href='#') Point Pattern
        li
          a(href='#') Local Pattern
        li
          a(href='#') Database Config
