doctype html(lang='en')
head
	body
		// Sidebar
		#sidebar-wrapper
			ul.sidebar-nav
				li.sidebar-brand
					a(href='#') Rendezview
				form(autocomplete='off')
					li
						h5 Parameters
						input(type='text', name='Parameters', value='')
						br
					li
						h5 Date Range
						#date-range(name='DateRange')
							#date-range-field
								span#date-range-label
								// <a href="#">&#9660;</a>
							#datepicker-calendar
					li
						h5 Input Keywords (max=3 using &apos; &apos;)
						input(type='text', name='Keywords', value='')
						br
					li
						h5 Pattern Type
						input(type='radio', name='pattern', value='flock', checked='')
						label(for='pattern-flock') Flock
						input(type='radio', name='pattern', value='outlier')
						label(for='pattern-outlier') Outlier
					li
						input.btn.btn-primary.search-btn(type='button', value='Search')
						button.btn.btn-default.reset-btn(type='reset', value='Reset', onclick='clearDatePicker()') Clear
		// end sidebar-wrapper

		script(type='text/javascript').
			$(document).ready(function() {
				var to = new Date();
				var from = new Date(to.getTime());
				$('#datepicker-calendar').DatePicker({
					inline: true,
					date: [from, to],
					calendars: 1,
					mode: 'range',
					current: new Date(to.getFullYear(), to.getMonth(), 1),
					onChange: function(dates,el) {
						// update the range display
						$('#date-range-field span').text(
							dates[0].getMonthName(false)+' '+dates[0].getDate()+', '+dates[0].getFullYear()+' - '+
							dates[1].getMonthName(false)+' '+dates[1].getDate()+', '+dates[1].getFullYear());
					}
				});
			});
			
			function clearDatePicker() {
				$('#datepicker-calendar').DatePickerClear();
				$("#date-range-label").html("");
			};
