doctype html(lang='en')
head
	body
		// Sidebar
		#sidebar-wrapper
			ul.sidebar-nav
				li.sidebar-brand
					a(href='#') Rendezview
				form#searchOptions(autocomplete='off')

					li
						h5 Threshold

						//- input(type='text', name='parameters', value='')
						//- input#ex1(data-slider-id='ex1Slider', type='text', data-slider-min='0', data-slider-max='20', data-slider-step='1', data-slider-value='14')
						input(type='range', min='0', max='0.3', step='0.001', value='0', data-rangeslider='')
						output#value-min(style='color:white; font-size:12px')


					li
						h5 Date Range

						#date-range(name='DateRange')
							#date-range-field
								span#date-range-label
								// <a href="#">&#9660;</a>
							#datepicker-calendar

					li
						h5 Input Keywords (max=3 using &apos; &apos;)

						input(type='text', name='keywords', value='')

					li
						h5 Pattern Type

						input#pattern-flock(type='radio', name='pattern', value='flock', checked='')
						label(for='pattern-flock') Flock
						input#pattern-outlier(type='radio', name='pattern', value='outlier')
						label(for='pattern-outlier') Outlier

					li
						input.btn.btn-primary.search-btn(type='button', value='Search', onClick='main.search($("input[name=keywords]").val(), $("#value-min").val(), $("#date-range-label").text(), $("input[name=pattern]:checked", "#searchOptions").val()); console.log();')

						button.btn.btn-default.reset-btn(type='reset', value='Reset', onclick='clearDatePicker()') Clear
						a.btn.btn-default()
							span.glyphicon.glyphicon-info-sign

		//- end sidebar-wrapper

		script.
			$(function() {

				var $document   = $(document),
					selector    = '[data-rangeslider]',
					$element    = $(selector);
				// Example functionality to demonstrate a value feedback
				function valueOutput(element) {
					var value = element.value,
						output = element.parentNode.getElementsByTagName('output')[0];
					output.innerHTML = value;
				}
				for (var i = $element.length - 1; i >= 0; i--) {
					valueOutput($element[i]);
				};
				$document.on('input', 'input[type="range"]', function(e) {
					valueOutput(e.target);
				});		
					
				// Basic rangeslider initialization
				$element.rangeslider({

					// Deactivate the feature detection
					polyfill: false,

				});

			});

		script(type='text/javascript').
			$(document).ready(function() {
				$('input[type="range"]').rangeslider();
				var to = new Date();
				var from = new Date(to.getTime());
				$('#datepicker-calendar').DatePicker({
					inline: true,
					date: [from, to],
					calendars: 1,
					mode: 'range',
					current: new Date(to.getFullYear(), to.getMonth(), -1),
					onChange: function(dates,el) {
						// update the range display: MMM DD, YYYY - MMM DD, YYYY
						$('#date-range-field span').text(
							dates[0].getMonthName(false)+' '+dates[0].getDate()+', '+dates[0].getFullYear()+' - '+
							dates[1].getMonthName(false)+' '+dates[1].getDate()+', '+dates[1].getFullYear()
						);
					}
				});
			});

			function clearDatePicker() {
				$('#datepicker-calendar').DatePickerClear();
				$("#date-range-label").html("");
			};
