doctype html
html(lang='en')
  head
    title Rendezview
    base(href='/rendezview/')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')

    link(href="style/bootstrapv3/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="style/bootstrapv3/css/bootstrap-theme.css", rel="stylesheet", type="text/css")
    link(href="style/bootstrapv3/css/simple-sidebar.css", rel="stylesheet", type="text/css")
    link(href="style/bootstrapv3/css/custom.css", rel="stylesheet", type="text/css")
    link(rel="stylesheet", type="text/css", href="style/datepicker/base.css")
    link(rel="stylesheet", type="text/css", href="style/datepicker/dark.css")
    //link(href="style/pages/css/pages.css", rel="stylesheet", type="text/css")

  body

    //div#page
        //h1#header Rendezview
            //a.btn.btn-default.btn-lg(href='#', style='{display: inline-block;}')
                //span.glyphicon.glyphicon-menu-hamburger
        //include navbar


    div#content
        div#wrapper
            div#ui
            div#page-content-wrapper
                div#container-fluid
                    .row#upper
                    .row#lower
                        div#visualization
                        div#inset-axes


    // third-party libraries
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js")
    script(src="js/jade.js")  
    script(src="js/lodash.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/three.js/r71/three.min.js")
    script(src="style/bootstrapv3/fonts/helvetiker_regular.typeface.js")
    script(src="js/OrbitControls.js")
    script(src="js/Detector.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js")
    script(src="js/d3.layout.cloud.js")
    script(src="js/wordCloud.js")
    script(src="js/datepicker.js")

    //script(src="js/threeGeoJSON.js")
    //script(src="js/stats.min.js")
    //script(src="js/orientdb-api.js")  

    // our app
    script(src="main/index.js")
    
    // main app
    script(src="js/app.js")
